@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 500;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */

}

.avatar {
    width: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}


.line-clamp{
    display: -webkit-box;
-webkit-line-clamp: 3;
line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.card:hover{
    transition: all 0.3s;
    cursor: pointer;
    transform: scale(1.01);

}

a{
    text-decoration: none;
}